.main {
  width: 100%;
  padding: 48px;
  background: var(--hover-backgroud);
  box-sizing: border-box;
  overflow: auto;
  display: flex;
  flex-direction: column;
  gap: 64px;
  border-left: 1px solid var(--hover-border);
  box-shadow: 1px 1px 10px 2px var(--active-backgorund);
}

.header {
  margin: 0;
}

.layout {
  position: relative;
  display: grid;
  grid-auto-flow: column;
  justify-content: start;
  gap: 48px;
}
